<html>
    <head>
        {% include common_head.html %}
        <link rel="stylesheet" href="{{ '/css/main.css' }}">
        <link rel="stylesheet" href="{{ '/css/post.css' }}">

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="blog" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="{{ page.image }}" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ page.url }}">
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:image" content="{{ page.image }}" />
    </head>
    {% include header.html %}
    <body>
        <header class="article-header">
            <h1>{{ page.title }}</h1>
        
            <div class="date-container">
                <p>Postado em: <span class="date">{{ page.date | date: "%-d/%m/%Y" }}</span></p>
                <p>Atualizado em: <span class="date">{{ page.updateDate }}</span></p>
            </div>
        </header>
        
        <article class="content">
            <figure>
                <img data-large-image="{{ page.image }}" src="{{ page.image }}" alt="{{ page.alt }}">
            </figure>
            {{ content }}
        </article>
        {% include footer.html %}
    </body>
</html>
