<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#021885">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maike Negreiros">
    <link rel="icon" href="{{'16x16.png'}}" />
    <link rel="manifest" href="{{'/manifest.json'}}">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{'/css/main.css'}}">
    <link rel="stylesheet" href="{{'/css/posts-collection.css'}}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>



    <!-- <script type="text/javascript">
            navigator.serviceWorker.register('/maike/sw.js', {scope:"/maike/"})
            .then(reg => {
                console.log("Service Worker Registrado. Escopo: " + reg.scope);
            })
            .catch(error => {
                console.log("Erro ao tentar Registrar o Service Worker. Erro: " + error);
            })
        </script> -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111245086-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111245086-1');
    </script>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '143674889651987',
                cookie: true,
                xfbml: true,
                version: 'v2.11'
            });

            let algo = FB.AppEvents.logPageView();
            console.log(algo)

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
</body>

</html>
